
body{
  background-color: white;
  color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
.hero{
  background: url("../images/the-flatiron-building.jpg");
  color: white;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 32px;

}
h3{
  font-size: 23px;
}
section{
  background-color: white;
}

a{
  color: white;
  font-size: 18px;
  font-weight: normal;
}
p{
  font-size: 14px;
  font-weight: normal;
}
footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
